<div class="padding-min-100">
  <mat-card style="max-width: 400px; margin: 0 auto;">
    <div id="img-header-center">
      <img
        src="/assets/book_icon.png"
        style="margin: 0 auto; text-align: center; align-self: center;"
      />
    </div>
    <mat-card-content>
        <mat-vertical-stepper>
            <mat-step label="label1">
                <mat-form-field>
                    <input matInput placeholder="label" value="value">
                </mat-form-field>
            </mat-step>
            <mat-step label="label2">
                <mat-form-field>
                    <input matInput placeholder="label" >
                </mat-form-field>
            </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</div>
