language: node_js
sudo: required
services:
  - docker
cache:
   directories:
     - node_modules
node_js:
  - 10
before_install:
  - npm install -g node-gyp
before_script:
  - npm install
  - npm install -g standard
  - docker build -t magnos .
  - docker run -p 1337:1337 -d magnos
  - sleep 3
script:
  - npm run test
after_script:
  - docker kill