<div class="container">
    
    <h1>Editing Bookcase</h1>

    <%= render 'form', bookcase: @bookcase %>

    <%= link_to 'Show', @bookcase, class:"btn btn-link" %> |
    <%= link_to 'Back', bookcases_path, class:"btn btn-link" %>
</div>
