<div class="container">
        
    <h1>New Bookcase</h1>

    <%= render 'form', bookcase: @bookcase, class:"btn btn-link" %>

    <%= link_to 'Back', bookcases_path, class:"btn btn-link" %>
</div>
