<ngx-loading-bar></ngx-loading-bar>
<mat-toolbar color="primary">
  <span>Estante de livros</span>
  <span class="example-spacer"></span>
  <button *ngIf="!api.uid" mat-raised-button [routerLink]="['/auth']">
    Cadastre-se
  </button>
  <button *ngIf="api.uid" mat-raised-button (click)="logout()">
    Sair
  </button>
</mat-toolbar>
<div
  color="primary"
  id="main-container"
  class="primary-lighter-color"
  fxLayout="column"
  fxLayoutAlign="center stretch"
>
  <div fxFlex="100">
    <router-outlet></router-outlet>
  </div>
</div>
