/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.padding-min-100 {
  padding: 100px;
}

div#main-container {
  height: calc(100vh - 64px);
  width: 100%;
  overflow-y: auto;
}

@media (max-width: 599px) {
  div#main-container {
    height: calc(100vh - 54px);
  }
  .padding-min-100 {
    padding: 0;
  }
}

div#img-header-center {
  align-items: center;
  text-align: center;
}
